<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
  </appender>

  <logger name="datahike" level="WARN"/>
  <logger name="konserve" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDERR"/>
  </root>
</configuration>
